name: golangci-lint
on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4.0
